<!-- Footer -->
<div mc:edit="footer" class="email-footer">
  <div class="footer-text">
    <a href="*|FORWARD|*" target="_blank">Forward this email</a> to a friend.
    <a href="*|UNSUB|*" target="_blank">Click here to unsubscribe.</a>
    <br />
    &copy; *|DATE:|* Madtree Brewing. All Rights Reserved.
  </div>
</div>
<!-- /Footer -->
