<table class="section-header" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="bg" height="1"><div></div></td>
    <td class="text"><%= section_header %></td>
    <td class="bg" height="1"><div></div></td>
  </tr>
</table>

