<!-- update text block -->
<table mc:repeatable class="content-block" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <div mc:edit class="update">
        <h3><%= link_to "Proin interdum justo turpis, vitae", "#" %></h3>
        <p>Donec quis orci urna. Suspendisse sit amet sollicitudin ipsum, at semper nunc. Suspendisse vitae dui in enim mollis efficitur. Etiam posuere arcu a risus cursus, nec mattis libero scelerisque. Aenean dignissim dolor ac dui sagittis molestie. Phasellus dui dui, dignissim at dolor ac, suscipit feugiat libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc dapibus nulla nec sem imperdiet auctor. Nam et felis tortor.</p>
        <p>
          <strong><%= link_to "Find out more", "#" %></strong>
        </p>
      </div> <!-- /large-text-block -->
    </td>
  </tr>
</table>
